<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874222835447-i4vm03agt7el29tvaukqk7otmodallr5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874222835447-i4vm03agt7el29tvaukqk7otmodallr5</string>
	<key>API_KEY</key>
	<string>AIzaSyDSe4iy27IQSoSX3wUL1BeNI67nXuGqpcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>874222835447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thePetShop</string>
	<key>PROJECT_ID</key>
	<string>thepetshop-98702</string>
	<key>STORAGE_BUCKET</key>
	<string>thepetshop-98702.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874222835447:ios:0bdff22115d8f8bf2825f2</string>
</dict>
</plist>